html {overflow-x: hidden;}
/* menu *
@media only screen and (min-width: 980px) {
	#nkms-acc-menu {
		max-width: 65px;
	}
	#nkms-acc-menu img {
		position: relative;
		top: -5px;
	}
	#nkms-acc-menu > ul {
		opacity: 0;
		height: 0;
		width: 120px;
		padding: 0;
		margin: 0;
		left: -9999px;
		transition: all ease-in-out 0.3s;
		list-style: none;
	}
	#nkms-acc-menu:hover ul {
		opacity: 1;
		top: 0;
		left: 0;
	}
	#nkms-acc-menu ul li {
		background: inherit;
		box-shadow: 0 0 3px #ccc;
	}
	#nkms-acc-menu ul li a {
		padding: 10px 15px;
		display: block;
		color: #777;
	}
	#nkms-acc-menu ul li a:hover {
		color: #000;
	}
}

/* mobile menu *
@media only screen and (max-width: 979px) {
	#nkms-acc-menu {
		max-width: 100%;
		display: list-item;
	}
	#nkms-acc-menu > ul {
		margin: 0;
	}
}

/* Soar ID */
.soar-mid > h4 {
	margin-top: 0;
}

/* Invite system *
.dancer-invitatons button {
	border-radius: 50%;
} */
.dancer-invites {padding: 15px 0;}
.dancer-invites p {
	padding-right: 15px;
	margin: 5px 0;
}
.dancer-invites input[type="submit"] {
	padding: 10px;
}

/* Single dancer */
.dancer-details p span, .group-details p span {
	display: flex;
}

.nkms-pfp img {
	margin: 0;
}

/* Buttons */
.tabs .button {margin: 1px 0;}

input.nkms-btn, a.nkms-btn {
	padding: 1em 1.5em;
	text-transform: uppercase;
	font-weight: 600;
	text-decoration: none;
  transition: opacity 0.15s linear;
}
a.nkms-btn:hover {
	text-decoration: underline;
  transition: opacity 0.15s linear;
}

/* Update profile */
input[type="text"]:disabled {opacity: 0.5; cursor: not-allowed;}

/* Profile picture */
.wpua-edit-container h3, #wpua-images-existing, #profile-picture .submit, #profile-picture .updated {display: none;}
#profile-picture .avatar {margin: 0;}
#wpua-images-existing {display: none !important;}
/* #wpua-file-existing {
	color: #ffffff;
	border-color: rgb(10,10,10);
	background-color: rgb(10,10,10);
	text-shadow: 0 0.075em 0.075em rgba(0,0,0,0.5);
} */

/* Modal */
.nkms-modal {
	position: fixed;
	margin: auto;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 999;
	display: none;
}

.nkms-modal-contents {
	position: absolute;
	padding: 15px;
	box-shadow: 0 0 10px #000;
	text-align: center;
	width: 350px;
	top: calc(50% - 175px);
	left: calc(50% - 175px);
}

/* Registration */
#nkms_registration p {position: relative;}
.show-password-input {
	position: absolute;
	opacity: 0.5;
	z-index: 9999;
	right: 0;
	top: -0.75em;
	cursor: pointer;
	width: 50px;
	height: 35px;
	background: url(../assets/images/invisible.png) no-repeat center center;
}
.show-password-input.display-password {background: url(../assets/images/visibility.png) no-repeat center center;}

/* WooCommerce */
.woocommerce form .password-input, .woocommerce-page form .password-input {position: relative; width: 100%;}

.optional {display: none;}
.register-group-names {
	font-weight: 600;
	margin: 15px 0 0 0;
}
.register-solo-dancers, .register-group-dancers {
	margin: 0;
}
#register-all-dancers label, .register-solo-dancers label, .register-group-dancers label {
	cursor: pointer;
	width: max-content;
	padding-right: 10px;
}
.single-product form.cart .register-solo-dancers input, .single-product form.cart .register-group-dancers input, #select-all-dancers {
	width: initial;
	margin-right: 7px;
	border: 2px solid #999;
}
/* Variations */
.registered-dancers, .registered-groups {
	clear: both;
}
.group-title {
	font-weight: 600;
	margin-top: 5px;
	display: inline-block;
}

.register-group-dancers input[type="checkbox"]:checked::before {margin: -0.3rem 0 0 -0.3rem;}
#register-dancers {margin-bottom: 35px;}

.wc-item-meta li p {clear: both;}
.nkms-event-date p {font-size: 1.7em;}

/*
 * FORMS / INPUT
**/
p textarea, p input[type="text"], p input[type="password"], input[type="datetime"], input[type="datetime-local"],
input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"],
input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, p select {width: 100%; border-radius: 0;}

/* Datepicker */
#ui-datepicker-div {
	box-shadow: 0 0 5px 0 #000;
}

.ui-datepicker-prev, .ui-datepicker-next {
	width: 50%;
	display: inline-block;
	padding: 0 10px;
	cursor: pointer;
}

.ui-datepicker-next {
	text-align: right;
}

.ui-datepicker-prev span, .ui-datepicker-next span {
	font-size: 0.75em;
}

.ui-datepicker-title {
	text-align: center;
	font-size: 1.2em;
	padding: 10px 0;
}

.ui-datepicker-calendar {
	margin: 0;
}

.ui-datepicker-calendar th, .ui-datepicker-calendar td {
	border: 0;
	text-align: center;
}

.ui-datepicker-calendar a {
	text-decoration: none;
}

.ui-datepicker-calendar a:hover {
	text-decoration: none;
}

/* messages */
.text-danger {color: #f55;}
.text-info {color: #0a7;}

/* TABS */
/**
 * Tabs
 */
.tabs, .ds-tabs {
	display: flex;
	flex-wrap: wrap; /* make sure it wraps */
}
.tabs > label, .ds-tabs > label {
	order: 1; /* Put the labels first */
	display: block;
	padding: 1rem 2rem;
	margin-right: 0.2rem;
	cursor: pointer;
  font-weight: bold;
  transition: background ease 0.2s;
}
.tabs .tab {padding: 1rem;}
.tabs .tab, .ds-tabs .ds-tab {
  order: 99; /* Put the tabs last */
  flex-grow: 1;
	width: 100%;
	display: none;
}
.tabs > input[type="radio"], .ds-tabs > input[type="radio"] {
	display: none;
}
.tabs > input[type="radio"]:checked + label, .ds-tabs > input[type="radio"]:checked + label {
	box-shadow: inset 3px 0 0 0 #fff;
}
.tabs > input[type="radio"]:checked + label + .tab, .ds-tabs > input[type="radio"]:checked + label + .ds-tab {
	display: block;
}

@media (max-width: 45em) {
  .tabs .tab, .tabs > label, .ds-tabs .ds-tab, .ds-tabs > label {
    order: initial;
  }
  .tabs > label, .ds-tabs > label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}

/* extra for tabs */
.tabs > input[type="radio"]:checked + label, .ds-tabs > input[type="radio"]:checked + label, .tabs > label:hover, .ds-tabs > label:hover {
	/* color: #eee;
	background: #333; */
	box-shadow: inset 0 -3px #999;
}

label.tab-hidden {display: none;}
a {cursor: pointer;}
.dance-school-h3 {
	font-weight: 300;
	margin: 0;
	padding: 15px 0 30px 0;
}
.dance-school-h3 span {
	font-weight: 600;
}

/* loader */
.ds-tab > div {position: relative;}
.loader {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	align-items: center;
	justify-content: center;
	z-index: 2;
	display: none;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #333;
  border-color: #333 transparent #333 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
