html {overflow-x: hidden;}
#content {padding-top: 0;}
/* Tabs */
#nkms-account, .nkms-tabs {
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
}

#top-tabs-wrapper {
	position: absolute;
	width: 100vw;
	left: 0;
	height: 60px;
	background: #f1f1f1;
	z-index: 2;
}

#top-tabs {
	max-width: 1200px;
	margin: 0 auto;
	border: 0;
}

#top-tabs > li {
	line-height: 60px;
	margin: 0;
}
/* #top-tabs > li:first-child {
	margin-left: 0;
} */
#top-tabs li a {
	text-decoration: none;
	height: 100%;
	display: block;
	padding: 0 15px;
}
#top-tabs li a:hover {
	background: #cd2653;
	color: #f1f1f1;
}

.nkms-tabs {
	padding: 4rem 0;
}

/* Invite system *
.dancer-invitatons button {
	border-radius: 50%;
}

/* Single dancer */
.dancer-details p span, .group-details p span {
	display: flex;
	color: #999;
}

.nkms-pfp img {
	margin: 0;
}

/* Buttons */
input.nkms-btn, nkms-btn {
	padding: 1em 1.5em;
}

input.nkms-btn, a.nkms-btn {
	padding: 1em 1.5em;
	background: #cd2653;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	text-decoration: none;
  transition: opacity 0.15s linear;
}
a.nkms-btn:hover {
	color: #fff;
	text-decoration: underline;
  transition: opacity 0.15s linear;
}

/* WooCommerce */
.register-group-names {
	font-weight: 600;
	margin: 15px 0 0 0;
}
.register-group-dancers {
	margin: 0;
}
.register-group-dancers label {
	cursor: pointer;
}
.single-product form.cart .register-group-dancers input {
	width: initial;
	margin-right: 7px;
}
/* Variations */
.registered-dancers, .registered-groups {
	clear: both;
}
.group-title {
	font-weight: 600;
	margin-top: 5px;
	display: inline-block;
}

/* Datepicker */
#ui-datepicker-div {
	background: #fff;
	box-shadow: 0 0 5px 0 #000;
}

.ui-datepicker-prev, .ui-datepicker-next {
	width: 50%;
	display: inline-block;
	padding: 0 10px;
	cursor: pointer;
}

.ui-datepicker-next {
	text-align: right;
}

.ui-datepicker-prev span, .ui-datepicker-next span {
	font-size: 0.75em;
}

.ui-datepicker-title {
	text-align: center;
	font-size: 1.2em;
	padding: 10px 0;
}

.ui-datepicker-calendar {
	margin: 0;
}

.ui-datepicker-calendar th, .ui-datepicker-calendar td {
	border: 0;
	text-align: center;
}

.ui-datepicker-calendar a {
	text-decoration: none;
}

.ui-datepicker-calendar a:hover {
	text-decoration: none;
}
